@media screen and (min-width: 540px) {

	#intro #quote #signature {
		margin-top: 1%;
	}

	#tesla-logo {
		width: 60%;
		padding-bottom: 20px;
	}

	#openai-logo {
		width: 40%;
		margin-top: -4%;
	}
}

@media screen and (min-width: 850px) {

	#intro #quote h3 {
		width: 70%;
	}

	
	
}